{% extends '@!EasyAdmin/layout.html.twig' %}


{% block head_metas %}
    {{ parent() }}
    <script>const applicationServerKey = '{{ vapid_public_key }}';</script>
    <link rel="icon" type="image/png" href="/icon512_rounded.png" sizes="32x32">
    <link rel="manifest" href="manifest.json" />
    <script src="https://cdn.jsdelivr.net/gh/alumuko/vanilla-datetimerange-picker@latest/dist/vanilla-datetimerange-picker.js"></script>
{% endblock %}

{% block content_top_header %}
    <div class="form-date-range">
    <form class="form-action-search" method="post" data-controller="daterangepicker">
        <div class="field-number form-group">
            <input type="text" name="dateRange" class="form-control" data-daterangepicker-target="input" value="{% if app.session.get('dateRange') is not null %}{{ app.session.get('dateRange')['readable'] }}{% endif %}">
            <button class="form-control btn btn-success" data-daterangepicker-target="submit" data-action="click->daterangepicker#onSetRange" type="button">
                <i class="fa fa-spinner fa-spin d-none" data-daterangepicker-target="loading"></i>
                Set Range
            </button>
        </div>
    </form>
    </div>

    {{ parent() }}
{% endblock %}

{% block sidebar %}
    {{ parent() }}
    <div style="width:210px; position: fixed; bottom: 50px; left: 10px; text-align: center;">
        <button class="btn btn-info btn-lg px-4" id="push-subscription-button">Push notifications !</button><br/>
    Munteanu Finance<br/><br/>
        <button class="btn btn-success btn-lg px-4" id="send-push-button">Send a push notification</button>
{#        {{ dump(filters) }}#}
    </div>
{% endblock %}

{% block content_footer %}
    www.madduck.ro © {{ 'now' | date('Y') }}
{% endblock %}
{% block content %}
<div data-controller="json-modal">
    <div id="json-modal" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-body">
                    <div id="json-modal-wrapper">
                        <div data-json-modal-target="loading">
                            <i class="fa-2x">
                                <i class="fas fa-spinner fa-spin"></i>
                            </i>
                            <strong>{{ "Please wait"|trans }}</strong>
                        </div>
                        <div data-json-modal-target="result"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-bs-dismiss="modal" class="btn btn-secondary">
                        <span class="btn-label">{{ 'Close'|trans }}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    {{ parent() }}
</div>
{% endblock %}

